<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement">
		<pipelines>
			<cmp.importEntity>
				<processor type="CMP.Connector.Pipelines.FetchEntity, CMP.Connector" resolve="true" patch:instead="processor[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.FetchEntity, Sitecore.Connector.CMP']"/>
				<processor type="CMP.Connector.Pipelines.EnsureItem, CMP.Connector" resolve="true" patch:instead="processor[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.EnsureItem, Sitecore.Connector.CMP']"/>
				<processor type="CMP.Connector.Pipelines.SearchIndex, CMP.Connector" resolve="true" patch:instead="processor[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SearchIndex, Sitecore.Connector.CMP']"/>
				<processor type="CMP.Connector.Pipelines.SaveFieldValues, CMP.Connector" resolve="true" patch:instead="processor[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']"/>
				<processor type="CMP.Connector.Pipelines.SaveImageFieldValues, CMP.Connector" resolve="true" patch:after="processor[@type='CMP.Connector.Pipelines.SaveFieldValues, CMP.Connector']"/>
			</cmp.importEntity>
			<getMediaStream>
				<processor patch:after="processor[@type='Sitecore.Resources.Media.GrayscaleProcessor, Sitecore.Kernel']"
					type="CMP.Connector.Pipelines.Media.ExternalMediaProcessor, CMP.Connector" resolve="true" />
			</getMediaStream>
		</pipelines>
		<mediaLibrary>
			<requestParser type="CMP.Connector.Request.ExternalMediaRequest, CMP.Connector"
			patch:instead="processor[@type='Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel']" />
			<requestProtection>
				<protectedMediaQueryParameters>
					<parameter name="v" description="ContentHub.Media.Version"/>
					<parameter name="mid" description="ContentHub.Media.Id"/>
					<parameter name="t" description="ContentHub.Media.Transform"/>
				</protectedMediaQueryParameters>
			</requestProtection>
		</mediaLibrary>
		<settings>			
			<!-- External Image Params -->
			<setting name="ContentHub.Transform" value="t" />
			<setting name="ContentHub.Version" value="v" />
			<setting name="ContentHub.MediaId" value="mid" />
			<!--Transform to be used to generate thumbnail-->
			<setting name="ContentHub.ThumbNailTransform" value="w320" />
			<!--Transform to be used to generate sitecore Icon-->
			<setting name="ContentHub.IconTransform" value="scIcon" />
			<setting name="ContentHub.ValidMimeTypes" value="image/jpeg|image/pjpeg|image/png|image/gif|image/tiff|image/bmp" />
		</settings>
		<services>
			<configurator type="CMP.Connector.Pipelines.Media.ExternalMediaServiceConfigurator, CMP.Connector" />
		</services>
		
		<!--Search field settings-->
		<contentSearch search:require="solr">
			<indexConfigurations>
				<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="entityidentifier" returnType="text"/>
						</fieldNames>
					</fieldMap>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>